/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2014, 11:37:15 AM
    Author     : Naveen_P08
*/

progress[value]{
    width: 350px;
}

.d1 {
    width: 200px;
    height: 250px;
    background-color: green;
}

.d2 {
    width: 150px;
    height: 200px;
    background-color: red;
}

.d3 {
    width: 100px;
    height: 150px;
    background-color: yellow;
}

.box {
    width: 200px;
    height: 400px;
    box-shadow: 72pt 0em 20px 0px #acacac;
    background-color: blue;
}

p.boxShadow{
    text-shadow: 72px 0em 5px;
}

.grid-class{
    display: -ms-grid;
    -ms-grid-column: auto 1fr;
    -ms-grid-rows:auto 1fr auto;
}

.grid-class .logo{
    -ms-grid-column:1;-ms-grid-row:1;width:50px;height:50px;color: red;background:#CACACA;
}

.grid-class .page{
    -ms-grid-column:1;-ms-grid-row:1;width:50px;height:50px;color: red;background:#CACACA;
}
.grid-class .bookmark{
    -ms-grid-column:1;-ms-grid-row:3;width:250px;height:50px;color: black;background:#CCCCCC;
}
.grid-class .content{
    -ms-grid-column:1;-ms-grid-row:1;width:50px;height:50px;color: red;background:blue;
}
.grid-class .bottom{
    -ms-grid-column:1;-ms-grid-row:1;width:50px;height:50px;color: red;background:magenta;
}

/*********************/

.box-class{
    width: 100px;
    height: 100px;
    background: rgba(255,0,0,0.5);
     float: left;
}
.box-class-b{
    width: 100px;
    height: 100px;
    float: left;
    background: rgb(255,0,0);
    opacity: 0.5;
}

@media screen and (min-device-width:200px) and (max-device-width:1020px){
    .box-class-b{
    width: 100px;
    height: 100px;
    float: left;
    background: rgb(0,255,0);
    opacity: 0.5;
    }
}

.transformation{
    text-transform: uppercase;
}
.border-div{
    border: 3px solid;
    background: #b6aaaa;
    width: 200px;
    height: 100px;
    top:10%;
    left: 10%;
    border-radius: 25px 0px 25px 0px;
}
a:active{
    color: red;
}

a:hover{
    color: black;
}
a:visited{
    color: green;
}
a:link{
    color: blue;
}
div{
    display: -moz-box;
    width:100px;
    height:200px;
}
.advertisement{
    -moz-box-flex: 1.0;
    border:2px solid red;
    background-color: green;
    float: left;
}
.content{
    -moz-box-flex: 2.0;
    border:3px solid black;
    background-color: red;
    float: left;
}

p.inner {
    left:15px;
    position: absolute;
}